<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yun.goods.dao.GoodsDAO">
     <insert id="create" parameterType="GM" useGeneratedKeys="true" keyProperty="uuid">
     	insert into t_goods_info (name,imgPath,description)
     	 values(#{name},#{imgPath},#{description})
     </insert>
     <update id="update" parameterType="GM">
     	update t_goods_info set name=#{name},imgPath=#{imgPath},description=#{description}
     	   	where uuid=#{uuid}
     </update>
     <delete id="delete" parameterType="int">
     	delete from t_goods_info where uuid=#{uuid}
     </delete>
     
    <select id="getByUuid" parameterType="int" resultType="GM">  
        select * from t_goods_info where uuid=#{uuid}
    </select>  
    <select id="getByConditionPage" parameterType="GQM" resultType="GM">
        select * from t_goods_info
        <where>
        	<if test="uuid!=null &amp;&amp; uuid > 0">
        		and uuid=#{uuid}
        	</if>  
        	<if test="name!=null &amp;&amp; name!=''">
        		and name like #{name}
        	</if>
        	
        </where>
    </select>
    <select id="getByIds" parameterType="String" resultType="GM">  
        select * from t_goods_info where uuid in (#ids)
    </select>
    <select id="getIdsByConditionPage" parameterType="GQM" resultType="int">  
        select uuid from t_goods_info
        <where>
        	<if test="uuid!=null &amp;&amp; uuid > 0">
        		and uuid=#{uuid}
        	</if>  
        	<if test="name!=null &amp;&amp; name!=''">
        		and name like #{name}
        	</if>
        	
        </where>
    </select> 
</mapper>